
.navbar-collapse {
   justify-content: right;
}

.link {
    transition: all 300ms;
    
    list-style: none;
}
@media (min-width:992px){
    .link  {
        transition: all 300ms;
        margin-right: 50px;
       
    } 
}
@media (max-width:991px){
    .link {
        transition: all 300ms;
        margin: 10px 0;
       
        text-align: center;
    } 
}
.navbar-nav a:hover {
    border-radius: 5px;
    background-color: rgb(0, 255, 255,1);
    transform: scale(0.9);
    padding: 0 5px;
    
}
.CartWidget{
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s all;
    color: aqua;
    text-align: center;
}
.CartWidget:hover{
  transform: scale(1.1);
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,0); 
    border-color: rgba(0,0,0,0);
    border: 1px solid lightblue;
    transition: all 100ms;
}
.navbar-light .navbar-toggler:hover {
    
    transform: scale(1.1);
    border: 2px solid lightblue;
    background-color: aqua;
}

/* //itemCount */


.contador > button{
    border-radius: 5px ;
    margin: 40px 10px;
}
.contador>h1{
    margin: 40px 10px;
}